@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');





*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../imagens/brincarsozinho.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(0.3vw);
}





.container{
    display: flex;
    flex-direction: column;
    background-color: #13A052;
    padding: 8vh 4vw;
    margin-left: 5vw;
    border-radius: 3vw;
    box-shadow: 1vw 1vw 5vw rgba(0, 0, 0, 1);
}
.login_text{
    color: white;
    font-family: 'Montserrat';
    font-size: 3.3vw;
    font-weight: bolder;
}
.login_input{
    border: none;
    border-radius: 1.3vw;
    height: 6vh;
    width: 30vw;
    padding-bottom: 2.4vh;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 3vh;
    font-size: 1.6vw;
    padding-top: 2.5vh;
    padding-left: 2.3vw;
}
.login_input::placeholder{
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 1.6vw;
    position: absolute;
    top: 1.1vh
}
.senha_text{
    color: white;
    font-family: 'Montserrat';
    font-size: 3.3vw;
    font-weight: bolder;
    margin-top: 6vh;
}
.senha_input{
    border: none;
    border-radius: 1.3vw;
    height: 6vh;
    width: 30vw;
    padding-bottom: 2.4vh;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 2vh;
    font-size: 1.6vw;
    padding-top: 2.5vh;
    padding-left: 2.3vw;
}
.senha_input::placeholder{
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 1.6vw;
    position: absolute;
    top: 1.3vh
}
.esq_senha{
    font-weight: 200;
    padding-left: 0.3vw;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-size: 1.2vw;
    color: white;
    margin-top: 1vh;
}





.buttons_container{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}
.criar_button{
    background: none;
    border: none;
    color: white;
    font-size: 1.3vw;
    font-family: 'Montserrat';
    font-weight: 700;
}
.avancar_button{
    background-color: white;
    border: none;
    color: #388F50;
    padding: 1.9vh 2vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    font-family: 'Montserrat';
    font-weight: 700;
}
.voltar_container{
    margin-top: 8vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}
.voltar_text{
    background: none;
    border: none;
    color: white;
    font-size: 1.3vw;
    font-family: 'Montserrat';
    font-weight: 700;
}
a{
    text-decoration: none;
    color: white;
}