@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, :root{
    margin: 0px;
    padding: 0px;
  
    box-sizing: border-box;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /*border: 1px solid red;*/
  }
body{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5vw;
    position: center center;
    background-image: url(../imagens/login-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 98.9vh;
    width: 95vw;
}
  

  /*---------------------------------------------------------------------------*/
  
  .container{
    background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    width: 40vw;
    border-radius: 15px;
  }
  #rocket{
   width: 170px;
  }
  .center-content{
    display: flex;
    flex-direction: column;

    gap: 6vh;
    width: 75%;
    h1{
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        align-self: center;
    }
    h2{
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 0.3vw;
        margin-bottom: 0.2vh;
    }
    input{
        background-color: white;
        color: #474747;
        border: 1px solid #999999;
        border-radius: 4px;
        padding: 0.8vh 0.8vw;
        width: 100%;

        font-family: 'Manrope', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }
    button{
        background-color: white;
        color: #20B87D;
        border: none;
        border-radius: 50px;
        padding: 1.3vh;
        width: 100%;

        font-family: 'Manrope', sans-serif;
        font-size: 1.3rem;
        font-weight: 800;
        margin-top: 2vh;
    }
  }





  .bottom-content{
    
  }