@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

*, :root{
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*border: 1px solid red;*/
}
a{
  text-decoration: none;
  color: white;
}



body{
  background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);
  height: 100vh;
}



header{

}
header nav ul img{
  height: 86px;
}
header nav{
  padding-top: 1vh;
  justify-content: center;
  width: 100%;
  margin: auto;
}
header nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  font-family: 'Inter', 'sans serif';
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  flex-wrap: wrap;
  gap: 8%;
  margin: auto;
  width: 70%;
}
header nav ul li{
  cursor: pointer;
}
header nav ul button {
  background-color: white;
  color: #192F44;
  font-family: 'Inter', 'sans serif';
  font-size: 1.1rem;
  font-weight: 700;
  height: 46px;
  width: 172px;
  border-radius: 50px;
  border: none;
  text-align: center;
  cursor: pointer;
}