@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, :root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  min-height: 100vh;
}

.img-wrapper{
  min-height: clamp(200px, 35vw, 500px);
  height: clamp(200px, 35vw, 500px);
  min-width: clamp(250px, 30vw, 400px);
  background-image: url(../assets/pfp.jpeg);
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
}

main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 132px 84px;
  max-width: 80%;
  margin: auto;
  
  article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    gap: clamp(8px, 1vw, 32px);

    h1{
      font-family: 'Montserrat', Helvetica;
      font-size: clamp(1.5rem, 3vw, 3rem);
      font-weight: 700;
      color: rgb(59, 59, 59);
    }
    h2{
      font-family: 'Montserrat', Helvetica;
      font-size: clamp(1.1rem, 1.7vw, 1.8rem);
      font-weight: 600;
      color: #17D389;
    }
    p{
      font-family: 'Inter', sans-serif;
      font-size: clamp(0.8rem, 1.2vw, 1.2rem);
      font-weight: 500;
      color: rgb(80, 80, 80);
      line-height: 1.5rem;
    }
    div{
      width: 100%;
      display: flex;
      gap: 32px;
      
      a{
        display: flex;
        img{
          width: clamp(24px, 4vw, 36px);
          height: clamp(24px, 3vw, 36px);
        }
      }
    }
  }
}

@media screen and (max-width: 1280px){
  main{
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .img-wrapper{
    height: clamp(200px, 30vw, 400px);
  }
  main{
    flex-direction: column;
    gap: 32px;
    padding: 112px 0;
    width: 60%;
    margin: auto;
    
    article{
      gap: 16px;
    }
  }
}

@media screen and (max-width: 400px){
  main{
    width: 80%;
  }
}