footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #080f16;
  padding: 4rem 0;
}
footer article{
  display: flex;
  padding-bottom: 1rem;
  gap: 2rem;

  img{
    width: 2rem;
    cursor: pointer;
  }
}
footer div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff;

  a{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
  }
  a:hover{
    color: #e7e7e7;
    text-decoration: underline;
  }
}
footer a, span{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
footer a{
  padding-top: 1rem;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
  }
  footer article{
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
  
    img{
      width: 2rem;
      cursor: pointer;
    }
  }
  footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff;
  
    a{
      font-family: 'Inter', sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: #ffffff;
      text-decoration: none;
    }
  }
  footer a, span{
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    color: #ffffff;
  }
  footer a{
    padding-top: 1rem;
    font-weight: 600;
    text-decoration: none;
  }
}
@media screen and (max-width: 450px){
  footer div{
    gap: 1rem;
    a{
      font-size: 0.8rem;
    }
  }
}