@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, :root{
    margin: 0px;
    padding: 0px;
  
    box-sizing: border-box;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /*border: 1px solid red;*/
  }
body{
    display: flex;
    justify-content: start;
    align-items: center;
    position: center center;
    background-image: url(../assets/login-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
  

  /*---------------------------------------------------------------------------*/
  fieldset{
    border: none;
  }
  .container{
    background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    align-items: center;
    flex-direction: column;
    gap: 3.5vh;
    width: 630px;
    border-radius: 15px;
    padding: 5vh 0.5vw;
    box-shadow: 0px 0px 30px 5px rgb(50, 50, 50);
  }
  #rocket{
   width: 170px;
  }
  .center-content{
    display: flex;
    flex-direction: column;

    gap: 6vh;
    width: 75%;

    h1{
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      align-self: center;
    }
    label{
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      margin-left: 0.3vw;
      margin-bottom: 0.2vh;
    }
    input{
      background-color: white;
      color: #474747;
      border: 1px solid #999999;
      border-radius: 4px;
      padding: 0.8vh 0.8vw;
      width: 100%;

      font-family: 'Manrope', sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
    }
    input:focus{
      outline: 1px solid black;
    }
    /*input:invalid{
      outline: 1px solid red;
    }*/
    button{
      background-color: white;
      color: rgb(32, 184, 125);
      border: none;
      border-radius: 50px;
      padding: 1.3vh;
      width: 100%;

      font-family: 'Manrope', sans-serif;
      font-size: 1.3rem;
      font-weight: 800;
      margin-top: 2.2vh;
      cursor: pointer;
    }
    button:hover{
      background-color: rgb(230, 230, 230);
      color: rgb(17, 169, 110);
    }
    button:focus{
      outline: 2px solid black;
    }
  }


  /*---------------------------------------------------------------------------*/


  .bottom-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .inf-3{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1vh;
    }
    h3{
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      font-weight: 300;
    }
    a{
      text-decoration: none;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      font-weight: 700;
      cursor: pointer;
    }
    a:hover{
      color: rgb(230, 230, 230);
    }
    a:focus{
      outline: 2px solid black;
      border-radius: 2px;
    }
    p{
      text-decoration: none;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      font-weight: 600;
      margin-top: 8vh;
      cursor: pointer;
    }
    p:hover{
      color: rgb(230, 230, 230);
    }
  }