@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

@media screen and (max-width: 768px){
  
  .container{
    background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);

    width: 90vw;
    padding: 5vh 0.5vw;
  }
  #rocket{
   width: 120px;
  }
  .center-content{
    h1{
        font-size: 1.3rem;
    }
    label{
        font-size: 1rem;
    }
    input{
        font-size: 0.8rem;
    }
    button{
        font-size: 0.8rem;
    }
  }

  .bottom-content{
    h3{
      font-size: 0.7rem;
    }
    a{
      font-size: 0.7rem;
    }
    p{
      font-size: 0.7rem;
    }
  }
}