@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

@media screen and (max-width: 1280px) {
  nav ul div {
    gap: 40px;

    button {
      font-size: 1rem;
      font-weight: 600;
      height: 40px;
      width: 150px;
    }
  }

  .minigames-container article div{
    width: 8rem;
    height: 8rem;
  }
  
  .minigames-container article p{
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 768px) {
  nav ul div {
    gap: 1rem;
    img{
      height: 60px;
    }
  }
  nav ul {
    font-size: 0.9rem;
    width: 90%;
  }
  nav ul li{
    cursor: pointer;
    display: flex;
  }

  nav ul div button {
    font-size: 0.9rem;
    font-weight: 600;
    width: 150px;
  }

/*------------------------------- SECTION ------------------------------------*/

  .minigames-container{
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.333% 33.333% 33.333%;

    #art-1{
      grid-column: 1/2;
      grid-row: 1/2;
    }
    #art-2{
      grid-column: 2/3;
      grid-row: 1/2;
    }
    #art-3{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    #art-4{
      grid-column: 2/3;
      grid-row: 2/3;
    }
    #art-5{
      grid-column: 1/2;
      grid-row: 3/4;
    }
    #art-6{
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }

  .minigames-container article{
    gap: 2vh;

    div{
      width: 7rem;
      height: 7rem;
    }

    p{
      font-size: 1rem;
    }
  }

/*----------------------------- MEMORY GAME POPUP ----------------------------*/

  .memory-game-popup section{
    height: 38rem;
    width: 15rem;
  
    h1{
      font-size: 1.6rem;
    }
    h2{
      font-size: 0.8rem;
    }
    button{
      font-size: 0.8rem;
    }
  }
  
  .memory-game-popup section div{
    flex-direction: column;
    gap: 15px;
  
    a{
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
    }
  }
}