@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, :root{
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background-color: #080f16;
}

.container{
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  transition: .5s;

  z-index: 2;
}

.lucide-x{
  position: absolute;
  top: 2%;
  right: 2%;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

.wrapper{
  background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.5vh;
  width: 630px;
  border-radius: 15px;
  padding: 5vh 0.5vw;
  padding-bottom: 15%;
  box-shadow: 0px 0px 30px 5px rgb(50, 50, 50);
}
#rocket{
 width: 170px;
}
.center-content2{
  display: flex;
  flex-direction: column;

  gap: 3vh;
  width: 75%;
  h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    align-self: center;
    text-align: center;
  }
  h2{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  h3{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.3vw;
    margin-bottom: 0.2vh;
  }
  .inf-1{
    margin-top: 2vh;
  }
  input{
    background-color: white;
    color: #474747;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 0.8vh 0.8vw;
    width: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    outline: none;
  }
  button{
    background-color: white;
    color: #20B87D;
    border: none;
    border-radius: 50px;
    padding: 1.3vh;
    width: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 2.2vh;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(224, 224, 224);
    color: #1b9063;
  }
}

.first-part{
  background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);
  display: flex;
  padding-block: 15%;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
  width: 70%;
}

.left-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  img{
    max-width: 400px;
    border-radius: 50%;
  }
  p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
}

.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2vw;
  width: 50%;

  form{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  label{
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 0.3vw;
      margin-bottom: 0.2vh;
  }
  div{
    display: flex;
    flex-direction: row;
    gap: 8px;

    input{
      background-color: white;
      color: #4c4c4c;
      border: 1px solid #999999;
      border-radius: 4px;
      padding: 0.8vh 0.8vw;

      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      width: 100%;
    }
    input:focus{
      outline: 1px solid black;
      color: black;
    }
    #name-change, #date-change, #email-change, #password-change{
      background-color: white;
      border: none;
      padding: 0.8vh 0.8vw;
      margin-right: -100px;
      border-radius: 4px;
      border: 1px solid #999999;

      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #4c4c4c;
      cursor: pointer;
    }
    #name-change:hover, #date-change:hover, #email-change:hover, #password-change:hover{
      background-color: rgb(230, 230, 230);
      color: #414141;
    }
    #name-change:focus, #date-change:focus, #email-change:focus, #password-change:focus{
      outline: 2px solid black;
    }
  }
   #button-sair{
    background-color: white;
    color: #c42929;
    border: none;
    border-radius: 4px;
    padding: 1vh 2vw;
    align-self: self-end;
    margin-right: 10%;
    border: 1px solid #999999;

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
   }
   #button-sair:hover{
    background-color: rgb(230, 230, 230);
    color: rgb(167, 0, 0);
  }
  #button-sair:focus{
    outline: 2px solid black;
  }
}