@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, :root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.first-part {
  background: linear-gradient(160deg, rgba(36, 201, 133, 1) 0%, rgba(24, 211, 137, 1) 27%, rgba(33, 186, 126, 1) 57%, rgba(31, 182, 123, 1) 100%);
  display: flex;
  padding-block: 15rem;
  min-height: 100vh;
}

/*----------------------------/ FIRST PART /---------------------------------*/

.first-article{
  display: flex;
  justify-content: center;
  /*margin-left: 10vw;*/
  position: relative;
  z-index: 0;
  top: 30%;

  article{
    display: flex;
    flex-direction: column;
    width: 45%;

    .top-text {
      background-color: rgba(255, 255, 255, 0.351);
      display: flex;
      justify-content: center;
      width: 110px;
      padding: 8px 50px;
      border-radius: 50px;
      margin-bottom: 10px;

      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: white;
    }
    .center-text{
      font-size: 4.5rem;
      line-height: 5.5rem;
      font-family: 'Gentium Book Plus', 'Arial' ;
      color: white;
      font-weight: 300;
    }
    .center-text-second{
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      color: white;
      font-weight: 400;
    }
  }
}

.first-part-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.first-button, .second-button{
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  width: 50%;
  height: 60px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.first-button{
  color: #0b161f;
  background-color: white;
}
.first-button:hover{
  background-color: rgb(225, 225, 225);
  color: #060b10;
}
.first-button:focus{
  outline: 2px solid black;
}
.second-button{
  color: white;
  background-color: #192F44;
  margin-right: -10px;
}
.second-button:hover{
  background-color: #101e2c;
  color: #e6e6e6;
}
.second-button:focus{
  outline: 2px solid rgb(255, 255, 255);
}

/*----------------------------/ SECOND PART /---------------------------------*/

strong{
  font-weight: 900;
}
.landing-containers{
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.landing-containers:nth-child(odd){
  background-color: #f6f6f6;
}
.landing-containers article{
  width: 46%;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 130px;
  display: flex;
  justify-content: center;
}
.landing-containers article > div h1{
  font-family: 'Gentium Book Plus', 'sans-serif';
  font-style: italic;
  font-size: 2.6rem;
  font-weight: 500;
}

.landing-containers article > div p{
  font-family: 'Manrope', 'sans-serif';
  font-size: 1rem;
  font-weight: 500;
}

.images-container{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  border-radius: 5px;
}
.landing-containers:nth-child(3) .images-container{
  background-color: #fcfcfc;
}
.landing-containers:nth-child(5) .images-container{
  background-color: #fcfcfc;
}
.landing-images{
  width: 500px;
}

#subtitle-one{
  font-family: 'Gentium Book Plus', sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 2vh;
}
#subtitle-two{
  margin-top: 2vh;
}
.fifth-part-box{
  width: 43%;
}
#subtitle-three{
  margin-top: 3vh;
}



.sixth-button-container{
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  
  button{
    display: flex;
    flex: 1;
    border: none;
    justify-content: center;
    align-items: center;
    height: 58px;
    border-radius: 50px;
    background-color: #192F44;
    color: #fcfcfc;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  button:hover{
    background-color: #0f1c28;
    color: #e7e7e7;
  }
  button:focus{
    outline: 2px solid black;
  }
}
