@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media screen and (max-width: 1280px) {
  .first-article {
    width: 100%;
    article{
      width: 70%;
    }
  }
  nav ul div {
    gap: 40px;

    button {
      font-size: 1rem;
      font-weight: 600;
      height: 40px;
      width: 150px;
    }
  }
  .center-text{
    font-size: 3.5rem !important;
    line-height: 4rem !important;
  }
  .center-text-second{
    font-size: 1.2rem !important;
    font-weight: 300 !important;
  }
}

@media screen and (max-width: 768px) {
  .first-part{
    padding-bottom: 35vh;
  }
  
  nav ul div {
    gap: 1rem;
    img{
      height: 60px;
    }
  }
  nav ul {
    font-size: 0.9rem;
    width: 90%;
  }
  nav ul li{
    cursor: pointer;
    display: flex;
  }

  nav ul div button {
    font-size: 0.9rem;
    font-weight: 600;
    width: 150px;
  }

  .first-article{
    width: 100%;
    top: 50%;
  }
  .center-text{
    font-size: 2.25rem !important;
    line-height: 3rem !important; 
  }
  .top-text{
    font-size: 0.9rem !important;
  }
  .first-article article {
    width: 80%;
  }
  
  .center-text-second{
    font-size: 0.9rem !important;
    font-weight: 300 !important;
  }
  .first-button, .second-button{
    font-size: 0.9rem !important;
    height: 40px !important;
  }
  

  
  .landing-containers article div {
    p{
      font-size: 0.8rem;
    }
    h1{
      font-size: 2.1rem;
    }
  }

  .landing-containers article{
    width: 80%;
  }
  .landing-images{
    width: 350px;
  }
  #subtitle-one{
    font-size: 1.1rem;
  }

  .sixth-button-container button{
    font-size: 0.9rem;
  }
  



  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
  }
  footer article{
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
  
    img{
      width: 2rem;
      cursor: pointer;
    }
  }
  footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff;
  
    a{
      font-family: 'Inter', sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: #ffffff;
      text-decoration: none;
    }
  }
  footer a, span{
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    color: #ffffff;
  }
  footer a{
    padding-top: 1rem;
    font-weight: 600;
    text-decoration: none;
  }
}

@media screen and (max-width: 450px){
  footer div{
    gap: 1rem;
    a{
      font-size: 0.8rem;
    }
  }

  .sixth-button-container{
    button{
      font-size: 0.9rem;
    }
  }
}