@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.memory-game{
  width: 70%;
  height: 80%;

  grid-template-columns: 25% 25% 25% 25%;
}

legend{
  padding-top: 20px !important;
}

.front-face, .back-face{
  width: clamp(70px, 10vw, 180px);
  height: clamp(90px, 13vw, 230px);
}

#done-screen article{
  gap: 10px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .memory-game{
    grid-template-columns: 33% 33% 33%;
  }
  .front-face, .back-face{
      padding: 10px;
    }
  .card{
      width: 30%;
      margin: .2%;
    }
}