@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.memory-game{
  width: 60%;
  height: 70%;

  grid-template-columns: 20% 20% 20% 20% 20%;
}

.front-face, .back-face{
  width: clamp(80px, 10vw, 160px);
  height: clamp(100px, 13vw, 200px);
}

#done-screen article{
  gap: 10px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .memory-game{
    grid-template-columns: 50% 50%;
  }
  .front-face, .back-face{
      padding: 15px; 
    }
  .card{
      width: 40%;
      margin: .2%;
    }
}