@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.memory-game{
  width: 70%;
  height: 80%;

  grid-template-columns: 20% 20% 20% 20% 20%;
}

legend{
  padding-top: 15px !important;
}

.front-face, .back-face{
  width: clamp(70px, 10vw, 170px);
  height: clamp(90px, 13vw, 220px);
}

#done-screen article{
  gap: 10px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .memory-game{
    grid-template-columns: 33% 33% 33%;
  }
  .front-face, .back-face{
      padding: 10px;
    }
}